<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/overlay.css" />
    <input rel="stylesheet" href="/styles/bracket.css"/>
    <script src="/scripts/bracket-double-elimination.js" defer></script>
    <script src="/scripts/overlay.js" defer></script>
    <title><%= date %> Group <%= group %></title>
  </head>
  <body>
    <%- include('../partials/bracket-result-overlay.ejs') %>
    <%- include('../partials/match-overlay.ejs') %>
    <h2 id="bracket-name">List of participants for <%= date %> group <%= group %>:</h2>
    <div id="main-bracket">
        <% for(let participants of sections) { %>
      <ul>
        <% for (let participant of participants) { %>
        <li><%= participant %></li>
        <% } %>
      </ul>
      <% } %>
    </div>
    <div id="bracket-actions">
      <button id="start-match-button">Start matchup</button>
    </div>
  </body>
</html>
