<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/overlay.css" />
    <link rel="stylesheet" href="/styles/alert-overlay.css" />
    <link rel="stylesheet" href="/styles/bracket.css" />
    <link rel="stylesheet" href="/styles/bracket-points.css" />
    <link rel="stylesheet" href="/styles/final-notice.css" />

    <script src="/scripts/bracket-kata-points.js" defer></script>
    <script src="/scripts/overlay.js" defer></script>
    <script src="/scripts/confirm-winner-overlay.js" defer></script>
    <script src="/scripts/alert-overlay.js" defer></script>

    <title><%= date %> Group <%= group %></title>
  </head>
  <body>
    <%- include('../partials/alert-overlay.ejs') %>
    <%- include ('../partials/confirm-winner-overlay') %>
    <%- include('../partials/bracket-result-overlay.ejs') %>
    <%- include('../partials/match-overlay-kata-points.ejs') %>
    <%- include('../partials/match-kata-final-notice.ejs') %>


    <h2 id="bracket-name">List of participants for <%= date %> group <%= group %>:</h2>
    <div id="main-bracket" style="flex-direction: column;">
    <% for(let i = 0; i < rounds.length; i++) { %>
      <h3>Round <%= i + 1 %></h3>
      <ul id="participant-list-kata-points" style="margin-bottom: 20px;">
        <% if(i == 0) { %>
        <li>
            <div id="table-headerS">
                <h3>Participant's name</h3>
                <h3>Current round points</h3>
                <h3>Points in total</h3>
            </div>
        </li>
        <% } %>
        <% for (let participant of rounds[i]) { %>
        <li>
            <div>
                <p><%= participant.name %></p>
                <p><%= participant.currentRoundPoints %></p>
                <p><%= participant.totalPoints %></p>
            </div>
        </li>
        <% } %>
      </ul><br>
    <% } %>
    </div>
    <div id="bracket-actions">
      <button id="start-match-button">
        <%= isEnd ? 'View Results' : 'Start matchup' %>
      </button>
    </div>

    
    <a href="/data/view-groups">Back to View Groups</a> 
  </body>
</html>
