<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/general.css" />
    <title>Confirm group deletion</title>
  </head>
  <body>
    <div
      style="
        background-color: rgb(238, 234, 234);
        text-align: center;
        width: 60%;
        margin: 0 auto;
        padding: 15px;
        border: 2px solid white;
        border-radius: 4px;
      "
    >
      <h2>Are you sure you want to delete this group?</h2>
      <form action="/data/delete-group" method="POST">
        <input type="hidden" name="date" value="<%= info["date"] %>"> <input
        type="hidden" name="group" value="<%= info["group"] %>">
        <p>Date: <b><%= info["date"] %></b></p>
        <p>Group number: <b><%= info["group"] %></b></p>
        <p>Group name: <b><%= info["name"] %></b></p>
        <p>Match type: <b><%= info["type"] %></b></p>
        <p>Participants:</p>
        <ul id="participants" style="list-style-position: inside">
          <% for (let p of info["participants"]) { %>
          <li><%= p %></li>
          <% } %>
        </ul>
        <button class="btn" type="submit">Delete</button>
        <a class="btn-alt" href="/data/view-groups">Cancel</a>
      </form>
    </div>
  </body>
</html>
