<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/view-groups.css" />
    <link rel="stylesheet" href="/styles/general.css" />

    <title>View groups</title>
  </head>
  <body>
    <h3>Previously uploaded groups:</h3>
    <table id="group-table">
      <thead>
        <th>Group Name</th>
        <th>Date</th>
        <th>Group Number</th>
        <th>Match Type</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% for (let group of groups) { %>
            <tr>
                <td><%= group[3] %></td>
                <td><%= group[0] %> </td>
                <td><%= group[1] %></td>
                <td><%= group[2] %></td>
                <td class="actions">
                  <a class="btn-table" href="/<%= group[2] + "?date=" + group[0] + "&group=" + group[1]%>">View</a>
                  <a class="btn-table" href="/data/delete-group<%= "?date=" + group[0] + "&group=" + group[1]%>">Delete</a>
                </td>
            </tr>
        <% } %>
      </tbody>
    </table>
    <a class="btn" href="/">Back</a>
  </body>
</html>
